<span id="home-anchor" class="anchor">&nbsp;</span>
<div class="container-fluid" id="home">
  {% include invitation.html %}
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item">
        <img src="http://static.91wedding.com/photos/wedding/LOGO.jpg" class="cover-image">
      </div>
      <div class="item">
        <img src="http://static.91wedding.com/photos/wedding/021.jpg" class="cover-image">
      </div>
      <div class="item">
        <img src="http://static.91wedding.com/photos/wedding/028.jpg" class="cover-image">
      </div>
      <div class="item">
        <img src="http://static.91wedding.com/photos/wedding/033.jpg" class="cover-image">
      </div>
     <div class="item active">
        <img src="http://static.91wedding.com/photos/wedding/MON_9186.jpg" class="cover-image">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
