<span id="wedding-anchor" class="anchor">&nbsp;</span>
<div class="container section" id="wedding">
  <div class="row-fluid">
    <div class="span4 offset1">
      <h2>婚礼</h2>
      <p>
        <i class="icon-time"></i>
        2013年9月14日(星期六) 中午11:30
      </p>
      <p>
        <i class="icon-map-marker"></i>
        湖南省常德市武陵大道686号国际大酒店
      </p>
      <p>
        <i class="icon-envelope"></i>
        2055961@qq.com
      </p>
      <p>
        <i class="icon-signal"></i>
        (0736)7778888
      </p>
      <br/>
      <h4>欢迎来参加我们的婚礼！</h4>
      {% include rsvp.html %}
    </div>
    <div class="span6">
      <img src="/images/wedding.jpg" />
    </div>
  </div>
  </div>
</div>
